BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AccessModifierOffset: -4
BreakBeforeBraces: Allman
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SortIncludes: CaseSensitive
